.webgalpi-toolbar {
  position: absolute !important;
  width: 150px !important;
  height: 33px !important;
  z-index: 2147483647 !important;
}

.webgalpi-toolbar .webgalpi-color-picker {
  display: none;
  width: 100% !important;
  height: 30px !important;
  box-sizing: border-box !important;
  backdrop-filter: blur(10.5px) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 6px 0px !important;
  border-radius: 4.2px !important;
}

.webgalpi-color-picker .webgalpi-color-form {
  display: inline !important;
  float: left !important;
  width: 18px !important;
  height: 18px !important;
  margin: 0px 3px !important;
  border-radius: 50% !important;
}

.webgalpi-toolbar .webgalpi-color-picker {
  display: block;
  width: 100% !important;
  height: 30px !important;
  box-sizing: border-box !important;
  backdrop-filter: blur(10.5px) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 6px 0px !important;
  border-radius: 4.2px !important;
}

.liner-color-yellow {
  background-color: rgb(255, 228, 124) !important;
}

.highlight-color-1 {
  background: #e35a69 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-2 {
  background: #f7b900 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-3 {
  background: #2da64e !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-4 {
  background: #d9c3ff !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-5 {
  background: #97c2dd !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-6 {
  background: #ef9a9a !important;
  display: inline !important;
  cursor: pointer;
}

.highlight-color-7 {
  background: #90a4ae !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-8 {
  background: #cddc39 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-9 {
  background: #ffb540 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-10 {
  background: #b2ebf2 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-11 {
  background: #c0b6a7 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.default-color {
  background-color: transparent;
  display: inline-block !important;
  cursor: pointer !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  opacity: 1 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px !important;
  background-size: cover !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  border-radius: 4px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-image: url("chrome-extension://__MSG_@@extension_id__/icons/pen.png") !important;
}

.webgalpi-trashbox {
  background-image: url("chrome-extension://__MSG_@@extension_id__/icons/trash_32.png") !important;
  cursor: pointer;
  width: 22px !important;
  height: 0px !important;
  display: inline-block !important;
  margin-left: 2px !important;
  padding-top: 18px !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  overflow: hidden !important;
}

.webgalpi-memo-area {
  z-index: 2100000000 !important;
  background-size: cover !important;
  width: 250px !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
  margin-left: -5px !important;
}
.webgalpi-memo-textarea {
  color: #333333 !important;
  width: 100% !important;
  padding: 10px !important;
  box-sizing: border-box !important;
  border: solid 2px #1e90ff !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  resize: none !important;
}

.webgalpi-memo-button {
  background-color: #e5edef !important;
  display: inline !important;
  border-radius: 5px !important;
  border: 1px solid black !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-right: 10px !important;
  text-align: center !important;
  float: right !important;
}
