.liner-tooltip-wrap {
  position: absolute !important;
  width: 150px !important;
  height: 33px !important;
  z-index: 2147483647 !important;
}

.liner-tooltip-wrap .liner-color-picker {
  display: none;
  width: 100% !important;
  height: 30px !important;
  box-sizing: border-box !important;
  backdrop-filter: blur(10.5px) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 6px 0px !important;
  border-radius: 4.2px !important;
}

.liner-color-picker .liner-color-circle {
  display: inline !important;
  float: left !important;
  width: 18px !important;
  height: 18px !important;
  margin: 0px 3px !important;
  border-radius: 50% !important;
}

.liner-tooltip-wrap .liner-color-picker {
  display: block;
  width: 100% !important;
  height: 30px !important;
  box-sizing: border-box !important;
  backdrop-filter: blur(10.5px) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 6px 0px !important;
  border-radius: 4.2px !important;
}

.liner-color-yellow {
  background-color: rgb(255, 228, 124) !important;
}

.highlight-color-1 {
  background: #a1887f !important;
  display: inline !important;
}

.highlight-color-2 {
  background: #cddc39 !important;
  display: inline !important;
}

.highlight-color-3 {
  background: #4caf50 !important;
  display: inline !important;
}

.highlight-color-4 {
  background: #ff9800 !important;
  display: inline !important;
}

.highlight-color-5 {
  background: #fbc02d !important;
  display: inline !important;
}

.highlight-color-6 {
  background: #b2ebf2 !important;
  display: inline !important;
}
