.webgalpi-toolbar {
  position: absolute !important;
  width: 150px !important;
  height: 33px !important;
  z-index: 2147483647 !important;
}

.webgalpi-toolbar .webgalpi-color-picker {
  display: none;
  width: 100% !important;
  height: 30px !important;
  box-sizing: border-box !important;
  backdrop-filter: blur(10.5px) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 6px 0px !important;
  border-radius: 4.2px !important;
}

.webgalpi-color-picker .webgalpi-color-form {
  display: inline !important;
  float: left !important;
  width: 18px !important;
  height: 18px !important;
  margin: 0px 3px !important;
  border-radius: 50% !important;
}

.webgalpi-toolbar .webgalpi-color-picker {
  display: block;
  width: 100% !important;
  height: 30px !important;
  box-sizing: border-box !important;
  backdrop-filter: blur(10.5px) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 6px 0px !important;
  border-radius: 4.2px !important;
}

.liner-color-yellow {
  background-color: rgb(255, 228, 124) !important;
}

.highlight-color-1 {
  background: #e35a69 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-2 {
  background: #f7b900 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-3 {
  background: #2da64e !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-4 {
  background: #d9c3ff !important;
  display: inline !important;
  cursor: pointer;
  color: #333333;
}

.highlight-color-5 {
  background: #97c2dd !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-6 {
  background: #ef9a9a !important;
  display: inline !important;
  cursor: pointer;
}

.highlight-color-7 {
  background: #90a4ae !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-8 {
  background: #cddc39 !important;
  display: inline !important;
  cursor: pointer;
  color: #333333 !important;
}

.highlight-color-9 {
  background: #ffb540 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-10 {
  background: #b2ebf2 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.highlight-color-11 {
  background: #c0b6a7 !important;
  display: inline !important;
  cursor: pointer;
  color: #ffefe4;
}

.default-color {
  /*background-color: transparent;*/
  background-color: white;
  display: inline-block !important;
  cursor: pointer !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px !important;
  background-size: cover !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  border-radius: 4px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-image: url("chrome-extension://__MSG_@@extension_id__/icons/pen.png") !important;
}

.webgalpi-trashbox {
  background-image: url("chrome-extension://__MSG_@@extension_id__/icons/trash_32.png") !important;
  cursor: pointer;
  width: 22px !important;
  height: 0px !important;
  display: inline-block !important;
  margin-left: 2px !important;
  padding-top: 18px !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  overflow: hidden !important;
}

.webgalpi-memo {
  background-image: url("chrome-extension://__MSG_@@extension_id__/icons/memo_32.png") !important;
  cursor: pointer;
  width: 22px !important;
  height: 0px !important;
  display: inline-block !important;
  margin-left: 2px !important;
  padding-top: 18px !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  overflow: hidden !important;
}

#webgalpi-memo-area {
  z-index: 2100000000 !important;
  background-size: cover !important;
  width: 250px !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
  margin-left: -5px !important;
}

.webgalpi-memo-textarea {
  color: #333333 !important;
  background-color: #ededf7 !important;
  opacity: 0.9 !important;
  width: 100% !important;
  padding: 10px !important;
  box-sizing: border-box !important;
  border: solid 2px #1e90ff !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  resize: none !important;
}

.webgalpi-memo-button,
.webgalpi-notification-button {
  background-color: white;
  display: inline-block !important;
  font-size: 11px !important;
  color: rgb(30, 144, 255) !important;
  cursor: pointer !important;
  line-height: 1 !important;
  padding: 5px 12px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(30, 144, 255) !important;
  border-image: initial !important;
  font-family: Meiryo, 微软雅黑, STXihei, "MS PGothic", "Helvetica Neue",
    Helvetica, Arial, sans-serif !important;
  float: right !important;
}

#webgalpi-convert-notification-area {
  position: fixed;
  right: 20px;
  top: 30px;
  z-index: 2100000000;
  display: none;
  background-image: linear-gradient(to right, #5379ce, #75b5eb);
  background-size: cover;
  color: white;
  width: 380px;
  border-radius: 5px;
  margin-left: -160px;
  padding: 8px 8px 8px;
  box-sizing: border-box;
  border: 1px solid #fffcfb;
  -ms-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

.webgalpi-convert-notification-contents {
  text-align: left !important;
  vertical-align: middle !important;
  color: #cccccc !important;
  font-size: 14px !important;
  font-family: "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  position: relative !important;
  color: rgb(229, 237, 239) !important;
  padding: 8px 8px !important;
  -ms-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

.webgalpi-notification-icon {
  z-index: 10000000 !important;
  position: fixed !important;
  width: 29px !important;
  float: right !important;
  top: 50px !important;
  right: 40px !important;
}
